{% extends '@JermBundle/Modal/form.html.twig' %}

{% block form %}
    {{ parent() }}

    <a id="magic_url_btn" class="btn btn-sm btn-link">
        <i class="fa fa-magic"></i>
        Click here to set URL from application parameters
    </a>
{% endblock %}